apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: homeassistant
  name: homeassistant
  namespace: homeassistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      labels:
        app: homeassistant
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      volumes:
        - name: ha-storage
          persistentVolumeClaim:
            claimName: ha-pvc
      containers:
        - image: ghcr.io/home-assistant/home-assistant:stable
          imagePullPolicy: Always
          name: home-assistant
          resources:
            requests:
              cpu: 2
              memory: "3Gi"
            limits:
              cpu: 4
              memory: "6Gi"
          volumeMounts:
            - mountPath: "/config"
              name: ha-storage
          ports:
            - containerPort: 8123
              name: http
              protocol: TCP
          # lifecycle:
          #   postStart:
          #     exec:
          #       command:
          #         - /bin/bash
          #         - -c
          #         - "wget -O - https://get.hacs.xyz | bash -"
